---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';

---

<Layout title="P🖤Y🖤O">
	<main>
		<!-- Add Call To action, company Name and Button text2 -->
	<Hero callToAction='PAOLA Y OSCAR', buttonText='GRACIAS POR TODO' companyName='🖤16-02-2024🖤'/>
	<About linkText="/" imageOne='gym-instructor.jpg', imageTwo='gym-femaleinstructor.jpg' />
	<Offers />
	<Testimonials />
	</main>
</Layout>

