---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-5xl italic max-w-xs yellowText pb-8">nuestra historia</h1>
      <p class="text-white max-w-sm">
        Desde el primer instante en que nuestros ojos se encontraron, supe que eras especial. Cada risa y conversación nos acercaron más. el mundo se detuvo. A través de los altibajos, nuestro amor ha sido un refugio, lleno de sueños compartidos y promesas. Te amo y amo a mathy más de lo que las palabras pueden expresar; cada día a tu lado es un regalo que atesoro.

      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Learn more</a>
      </p>
    </div>
    <div class="grid grid-cols-2">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600/1.5} 
        alt="Gym Instructor" 
        class="rounded-md object-cover w-48"/>
        <Image src={'/images/'+imageTwo}
         width={600} height={600/1.5} alt="Boxing Instructor" class="rounded-md object-cover w-48 pt-8"/>
    </div>
  </div>
</section>
